 <div class="modal fade" id="ModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="t`rue">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">Déconnexion</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">

                <div class="row">
                    

                    <div class="col-9">
                        <p>Êtes-vous sur de vouloir vous déconnecter ?</p> 
                        <span class="badge">vous allez être redirigé à l'accueil </span>
                    </div>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a href="http://lgdclefilm.pythonanywhere.com/deconnexion" class="btn btn-danger">Déconnexion <i class="fa fa-sign-in mr-1"></i></a>
                <a class="btn btn-outline-danger waves-effect" data-dismiss="modal">Rester connecté</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>