{% extends 'blog/base.html' %} 
{% load staticfiles %}
{% block header %}   
Accueil  
{% endblock %}
{% block content %}  
{% include "blog/Connexion.html" %} 
{% if user.is_authenticated %}
<div class="marge"><a style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">Nombre de vues :</a>
<br><a href="http://www.reliablecounter.com" target="_blank"><img src="http://www.reliablecounter.com/count.php?page=lgdclefilm.pythonanywhere.com/&amp;digit=style/plain/22/&amp;reloads=0" alt="hit counters code" title="hit counters code" border="0"></a></div>
{% endif %}
<h4 class="marge">A la Croisée des Etoiles</h4>
<p class="marge">Découvrez l'univers de la guerre des clans !
<br>Toutes les infos, tout l’actus ? C’est ici ! Et en plus c’est en Français.</p>

<div class="marge">
<br> <h2><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</h2>

 <div class="text-center my-5">
          <!-- News -->
          <div class="row">
     {% for post in posts %}
	 {% if post.Publique == True %}
            <!-- Colonne -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                 <div class="rounded z-depth-2 mb-4">
                <img class="img-fluid" src="{{ post.image_lien }}" alt="Image introuvable">
                </div>

              <!-- Groupe -->
              <p><a href="/{{ post.categorie.nom }}" class="{{ post.categorie.color }}-text"><h6 class="font-weight-bold mb-3"><i class="{{ post.categorie.icon }} pr-2"></i>{{ post.categorie.nom }}</h6></a></p>
              <!-- Post title -->
              <h4 class="font-weight-bold mb-3"><strong>{{ post.title }}</strong></h4>
              <!-- Post details -->
              <p>Article de <a class="font-weight-bold">{{ post.author.first_name }} {{ post.author.last_name }}</a>, {{ post.created_date.day }}/{% if post.created_date.month < 10 %}0{% endif %}{{ post.created_date.month }}/{{ post.created_date.year }}</p>
              <!-- Excerpt -->
			  <hr>
              <p class="dark-grey-text">{{ post.resume }}</p>
              <!--Suite button -->
              <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-{{ post.categorie.color }} btn btn-md waves-effect waves-light">Lire La suite</a>

            </div>
            <!--.\ Colonne news -->
			{% else %}
		{% if user.is_authenticated %}
	 {% include "blog/slide.html" %}
	 {% endif %}
      {% endif %}
{% endfor %}	
        

    </div>

{% endblock %}
