<!--------------------------------------------------------------- Connexion -------------------------------------------------------------------------------->
<div class="modal fade" id="discord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Discord</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe src="https://discordapp.com/widget?id=395509838005927937&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!---------------------------------------------------------------- Boutons --------------------------------------------------------------------------------->


    <a href="" class="btn btn-secondary btn-rounded my-3" data-toggle="modal" data-target="#discord"><i class="fab fa-discord"></i>  Rejoindre Discord</a>


<!-------------------------------------------------------------- Déconnexion ------------------------------------------------------------------------------->
